body
{
    background-color: #32a852;
    font-family: 'Corinthia', cursive;
    font-size: larger;
}
.copy_right_footer
{
    bottom: 0;
    width: 100%;
    background-color: crimson;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 30px;
}
.header_div
{
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px darkviolet;
    font-size: ;
}